
@keyframes showText {
  0% {
      opacity: 0;
      transform: translateY(60px);
  }
  100% {
      opacity: 1;
  }
}

.page-title span {
  display: inline-block;
  animation: showText 3s ease-out backwards;
}
.button {
  font-size: 1.375rem;
  background: #0015ffeb;
  color:#fff;
  border-radius: 5px;
  padding: 20px 80px;
}
.button:hover {
  background: rgb(95, 46, 200);
  transition: all .5s ease;
}
.big-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#top {
  background-image: url(/assets/images/top.jpg);
  min-height: 100vh;
}
#top .page-title {
  text-transform: none;
}
