<div id="top" class="big-bg">
  <header class="page-header wrapper">
    <h1 class="logo"><a routerLink="/">Sakamoto Haruki</a></h1>
    <nav>
      <ul class="main-nav">
        <li><a routerLink="/">Top</a></li>
        <li><a routerLink="/portfolio">Portfolio</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <div @fadein-left class="top-content wrapper">
      <h2 class="page-title">Welcome to my page!</h2>
      <h2 class="page-title">thank you!</h2>
      <p class="page-title">ようこそ。坂本晴輝のホームページへ。</p>
      <a routerLink="/portfolio" class="button">作品を見る</a>
  </div>
</div>
